/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/

/* GLOBAL */
.wrapper {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  line-height: 1.6;
  position: relative;
  background: #111;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

.bg-block {
  position: absolute;
  height: 200%;
  width: 100%;
  transform: rotate(-15deg);
  left: -83%;
  top: -50%;
  background-color: #ffb400;
  z-index: 0;
}

.text-stroke {
  -webkit-text-stroke: 2px #ffb400;
  color: #111;
}

/* Header */
.header {
  position: fixed;
  right: 30px;
  bottom: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  height: calc(100vh - 200px);
  top: 100px;
}
.navbar__item {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  transition: 0.3s;
  margin: 20px 0;
  border-radius: 50%;
  background: #2b2a2a;
}

.navbar__link h2 {
	font-family: "Poppins", sans-serif;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  color: #fff;
  line-height: 50px;
  font-weight: 500;
  transition: all 0.4s;
  border-radius: 30px;
  text-transform: uppercase;
  padding: 0 65px 0 30px;
  height: 50px;
	background-color: #ffb400;
}
.navbar__icon {
  color: #ddd;
  position: absolute;
  pointer-events: none;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 19px;
  top: 15px;
	z-index: 4;
}

.navbar__item.active {
  background: #ffb400;
}
.active > .navbar__icon {
	color: #fff;
}

.navbar__item:hover > .navbar__link h2{
	opacity: 1;
	z-index: 2;
}
.navbar__item:hover {
	background: #ffb400;
}
.navbar__item:hover > .navbar__icon {
	color: #fff;
}

/* About */
.about {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  z-index: 5;
}

/* info */
.about__info {
  font-size: 3vw;
  font-weight: 700;
  text-align: center;
  color: #fff;
}

.about__photo img {
  height: calc(50vw - 110px);
  box-shadow: 0 0 7px rgb(0 0 0 / 90%);
  border-radius: 15px;
}
.about__age-gender {
  font-size: 2.5vw;
  text-align: right;
}

/* summary */
.summary {
  margin-left: 8vw;
  font-size: 1.2vw;
  padding-right: 100px;
}
.summary__title {
  font-size: 2.8vw;
  color: #ffb400;
  font-weight: 700;
}
